aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
blessings==1.7
bs4==0.0.1
cachetools==4.2.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colorful==0.5.4
ctrl-benchmark @ git+git://github.com/facebookresearch/CTrLBenchmark.git@06efd8649cecfab18d430ca2f366f42fb17e009b
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
docopt==0.6.2
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.11
google-api-core==1.24.1
google-auth==1.24.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.34.0
hiredis==1.1.0
idna==3.3
imageio==2.9.0
joblib==1.0.0
json2html==1.3.0
jsonpatch==1.28
jsonpickle==1.4.2
jsonpointer==2.0
jsonschema==3.2.0
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.3
more-itertools==8.6.0
msgpack==1.0.2
multidict==5.1.0
munch==2.5.0
networkx==2.3
numpy==1.19.4
nvidia-ml-py3==7.352.0
opencensus==0.7.11
opencensus-context==0.1.2
packaging==20.8
pandas==1.2.0
Pillow==8.1.0
plotly==4.14.1
prometheus-client==0.9.0
protobuf==3.14.0
psutil==5.8.0
py-cpuinfo==7.0.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.1
pymongo==3.11.2
pyparsing==2.4.7
pypi-timemachine==0.2
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorch-ignite @ git+git://github.com/pytorch/ignite.git@493d86dc0eae7ad1fb4fd703cff2e3c7230dfbbf
pytz==2020.5
PyYAML==5.3.1
pyzmq==20.0.0
ray==1.1.0
redis==3.5.3
requests==2.27.1
retrying==1.3.3
rsa==4.6
sacred @ git+git://github.com/TomVeniat/sacred.git@588c01ff9d123e2c4f2deefeb43ca1b10687c77f
scikit-learn==0.24.0
scipy==1.6.0
six==1.15.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.1
supernets @ git+git://github.com/TomVeniat/SuperNetworks@5f12ea59dfe9c91e71a66d67f87875f0e086be85
tabulate==0.8.7
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.55.1
typing-extensions==3.7.4.3
urllib3==1.26.8
visdom @ git+git://github.com/TomVeniat/visdom.git@088890d27c8699d22f969d006b5cc33ff8f84c20
websocket-client==0.57.0
wrapt==1.12.1
yarl==1.6.3
pylrpredictor @ git+https://github.com/RaoefTaki/pylearningcurvepredictor
emcee>=2.1.0
docutils>=0.3
lmfit
setuptools
triangle
gputil
